:root {
  --a: springgreen;
  --b: dodgerblue;
  --c: peachpuff;
  --d: salmon;
  --white: #fef8fe;
  --black: black;

  --width: 50rem;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
}

@media screen and (min-width: 25em){
  html {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (1200 - 400) );
  }
}
